.nav{
    &--pages{
        display: flex;
        justify-content: space-between;
        width: 40%;
        @include tablette-only{
            width: 80%;
        }
        @include under-small{
            width: 100%;
        }
    }
    &--landing{
        display: flex;
        justify-content: space-evenly;
        // width: 200px;
        @include laptop{
            flex-direction: column;
        }
        @include tablette-only{
            flex-direction: row;
        }
        @include under-small{
            flex-direction: column;
            height: 150px;
        }
    }
}