.about {
  display: flex;
  padding: 5% 9%;
  justify-content: space-between;
  height: 90vh;
  @include laptop{
    flex-direction: column;
    padding: 1% 0 0 3%;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 95vh;
  }
  &__header {
    display: flex;
    flex-direction: column;
    width: 49%;
    text-align: justify;
    @include laptop{
      width: 80%;
    }
    @include tablette-only{
      width: 90%;
      padding-left: 3%;
    }
  }
  &__asside{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img {
    width: 30%;
    object-fit: cover;
    position: absolute;
    right: 3%;
    
    @include laptop{
      position: relative;
    }
    @include tablette-only{
      display: none;
    }
  }
}
