.header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: $color--primary;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    left: 0;
    right: 0;
    border-bottom: solid 0.1px;
   
    @include under-small{
        flex-direction: column;
        height: 80px;
    }
    &__link{
        @include tablette-only{
            position: absolute;
        right: 2%;
        top: 95px;
        }
        @include under-small{
            top: 115px;
        }
    }
    &__titles{
        @include tablette-only{
            & h6{
                display: none;
            }
        }
        @include under-small{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 3% 0;
            & h6{
                display: flex;
            }
        }
    }
    &__logo{
        height: 40px;
        // @include under-small{
        //     position: absolute;
        // right: 1%;
        // top: 75px;
        // }
    }
}
.header__landing{
    width: 60%;
    padding:auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 5% 0% 5% 5%;
    @include tablette-only{
        width: 95%;
        padding-top: 14%;
    }
}